<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
.s4 { color: #7a7e85;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;RelativeLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

    <span class="s4">&lt;!-- Birinci sayı için EditText --&gt;</span>
    <span class="s0">&lt;EditText</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/firstNumber&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;Birinci Sayıyı Girin&quot;</span>
        <span class="s1">android:inputType</span><span class="s2">=&quot;numberDecimal&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span><span class="s0">/&gt;</span>

    <span class="s4">&lt;!-- İkinci sayı için EditText --&gt;</span>
    <span class="s0">&lt;EditText</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/secondNumber&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;İkinci Sayıyı Girin&quot;</span>
        <span class="s1">android:inputType</span><span class="s2">=&quot;numberDecimal&quot;</span>
        <span class="s1">android:layout_below</span><span class="s2">=&quot;@id/firstNumber&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;20dp&quot;</span><span class="s0">/&gt;</span>

    <span class="s4">&lt;!-- Toplama Butonu --&gt;</span>
    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnToplama&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Toplama&quot;</span>
        <span class="s1">android:layout_below</span><span class="s2">=&quot;@id/secondNumber&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span><span class="s0">/&gt;</span>

    <span class="s4">&lt;!-- Çıkarma Butonu --&gt;</span>
    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnCikarma&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Çıkarma&quot;</span>
        <span class="s1">android:layout_below</span><span class="s2">=&quot;@id/secondNumber&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:layout_toEndOf</span><span class="s2">=&quot;@id/btnToplama&quot;</span><span class="s0">/&gt;</span>

    <span class="s4">&lt;!-- Çarpma Butonu --&gt;</span>
    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnCarpma&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Çarpma&quot;</span>
        <span class="s1">android:layout_below</span><span class="s2">=&quot;@id/secondNumber&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:layout_toEndOf</span><span class="s2">=&quot;@id/btnCikarma&quot;</span><span class="s0">/&gt;</span>

    <span class="s4">&lt;!-- Bölme Butonu --&gt;</span>
    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnBolme&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Bölme&quot;</span>
        <span class="s1">android:layout_below</span><span class="s2">=&quot;@id/secondNumber&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:layout_toEndOf</span><span class="s2">=&quot;@id/btnCarpma&quot;</span><span class="s0">/&gt;</span>

    <span class="s4">&lt;!-- Sonuç için TextView --&gt;</span>
    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/resultText&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Sonuç: &quot;</span>
        <span class="s1">android:layout_below</span><span class="s2">=&quot;@id/btnToplama&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;30dp&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span><span class="s0">/&gt;</span>

<span class="s0">&lt;/RelativeLayout&gt;</span>
</pre>
</body>
</html>